div.center {
    margin: auto;
    width: 60%;
    border: 5px solid green;
    text-align: center;
}

p.center {
    text-align: center;
}

img {
    width: 55%;
    margin: auto;
    display: block;
}

h2 {
    text-align: center;
}